
:root {
    /* This color palette comes from https://www.nordtheme.com/ */
    --polar-night-1: #2e3440; --polar-night-2: #3b4252; --polar-night-3: #434c5e; --polar-night-4: #4c566a;
    --snow-storm-1: #d8dee9; --snow-storm-2: #e5e9f0; --snow-storm-3: #eceff4;
    --frost-1: #8fbcbb; --frost-2: #88c0d0; --frost-3: #81a1c1; --frost-4: #5e81ac;
    --aurora-1: #bf616a; --aurora-2: #d08770; --aurora-3: #ebcb8b; --aurora-4: #a3be8c; --aurora-5: #b48ead;

    color-scheme: light dark; /* need this to be enabled for light dark */
    &:has(input[name="dark-light-toggle"]:checked) { color-scheme: dark; }; /* TODO toggle between 3 states */
    &:not(:has(input[name="dark-light-toggle"]:checked)) { color-scheme: light; } /* Force dark mode */ 
    
    --logo-color              : light-dark(var(--frost-1), var(--aurora-3));
    --inverted-logo-color     : light-dark(var(--aurora-3), var(--frost-1));
    --background-color        : light-dark(white, var(--polar-night-1)); 
    --header-background-color : light-dark(var(--snow-storm-3), var(--polar-night-3));
    --text-color              : light-dark(var(--polar-night-1), var(--snow-storm-3));
    --inversed-text-color     : light-dark(var(--snow-storm-3), var(--polar-night-1));
    --border-color            : light-dark(var(--snow-storm-1), var(--polar-night-4));
    --selected-text-color     : var(--frost-3);
    --underlight-text-color   : light-dark(var(--polar-night-4), var(--snow-storm-3));
    --button-color            : light-dark(var(--polar-night-1), var(--snow-storm-1));

    --base-font-family: 'Helvetica Neue';
}



.header {
    border-bottom: 1px solid var(--border-color);
    background-color: var(--header-background-color);
    font-family: var(--base-font-family);
    height: 50px;
}

.navigation-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
    height: 100%;
}

.navigation-bar li {
    float: left;
    height: 100%;
}


.logo {
    background: var(--logo-color);
    border: none;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-decoration: none;
    display: inline-block;
    height: 100%;
}

.logo:hover { background-color: var(--inverted-logo-color); }

.header_button {
    background-color: var(--header-background-color);
    border: none;
    color: var(--text-color);
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 100%;
    font-family: var(--base-font-family);
}

.header_button .underlined {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.header_button:hover {
    background-color: var(--logo-color);
    color: var(--snow-storm-3);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: var(--snow-storm-3) ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    list-style-type: none;
    padding: 0;
} 

.dropdown_content li {
    list-style-type: none;
    position: relative;
    padding: 0px;
    text-decoration: none;
    display: block;
    z-index: 1;
    width:100%;
}

.dropdown_content li button { width:100%; }

.dropdown:hover .dropdown_content {display: block;}

.examples_dialog { z-index: 10; max-width:90vw; }
.examples_dialog_content,
.examples_dialog_content table,
.examples_dialog_content tbody,
.examples_dialog_content tr,
.examples_dialog_content td,
.examples_dialog_content button {
    display: block;
    width:100%;
}

.examples_dialog_button {
    background-color: var(--frost-3);
    width: 100%;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-family: var(--base-font-family);
}

.examples_dialog_button:hover {
    background-color: var(--frost-1);
}



.github {
    float: right;
    transform: translateY(11px);
    margin-right: 11px;
}

.about {
    float: right;
    transform: translateY(9px);
    margin-right: 15px;
}

.logo_about > g > path, .logo_github > path {
    fill: var(--button-color);
    stroke : var(--button-color);
}

.logo_about:hover > g > path, .logo_github:hover > path {
    fill: var(--logo-color);
    stroke : var(--logo-color);
}



html, body {
    color: var(--text-color);
    background-color: var(--background-color);
    margin-left : 0px;
    margin-right : 0px;
    margin-top : 0px;
    margin-bottom : 0px;
    height: 100%;
}

p {
    font-family: var(--base-font-family);
}

a, .yasr a, .yasr a.iri { color: var(--frost-3) !important; }
a:visited, .yasr a:visited, .yasr a.iri:visited { color: var(--aurora-5) !important; }

.global_container {
    background-color: var(--background-color);
    color: var(--text-color);
    width: auto;
    height: 100%;
    margin: 0 auto;
    /* border-left: solid 1px var(--border-color); */
    /* border-right: solid 1px var(--border-color); */
}

.tabsList { /* Hide the different tabulations */
    display: none !important;
}

.footer {
    background-color: var(--background-color);
    position: sticky;
    top: 100%;
    font-family: var(--base-font-family);
}

.text-center {
    text-align: center;
}

svg {
    font-family: var(--base-font-family);
    stroke: var(--frost-4);
}



/* Modification of yasgui's style */

.yasgui .controlbar, .yasgui .tabMenu.open > div {
    background-color: var(--background-color);
}


[class^="yasr_"] {
    font-family: var(--base-font-family);
}

.yasr_fallback_info {
    background: var(--header-background-color) !important;
}

.yasr .yasr_btn div, .yasr .yasr_btn span { color: var(--underlight-text-color); }
.yasr .yasr_btn.selected { color: var(--selected-text-color); }

.yasqe .yasqe_buttons {
    top: auto;
    bottom: 10px;
    left: 5px;
    right: auto;
}

table.dataTable thead {
    background-color: var(--header-background-color);
}

table.dataTable tbody tr:nth-child(2n)   { background-color: var(--header-background-color); }
table.dataTable tbody tr:nth-child(2n+1) { background-color: var(--background-color); }

.yasr_results {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}

.yasr .dataTables_wrapper .dataTable td pre {
    margin: 0px;
}

.yasr .yasr_btnGroup li {       background-color: var(--header-background-color); }
.yasr .yasr_btnGroup li:hover { background-color: var(--border-color); }

.yasr .dataTables_info { color: var(--text-color); }
.yasr .dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button.current { color: var(--text-color) !important; }
.yasr .dataTables_wrapper div.dataTables_paginate.paging_simple_numbers a.paginate_button.current:hover { color: var(--frost-4) !important; }
.yasr .dataTables_wrapper .dataTables_paginate a.paginate_button { color: var(--underlight-text-color) !important; }
.yasr .dataTables_wrapper .dataTables_paginate a.paginate_button:hover { color: var(--frost-4) !important; }

.yasr table.dataTable tbody tr:hover { background-color: var(--border-color) !important; }
.yasr .dataTables_wrapper .dataTable thead tr th:hover { background-color: var(--border-color) !important; }

.yasr .yasr_btnGroup .plugin_icon > svg > g > path { /* svg icons in plugins */
    fill: var(--text-color) !important;
    stroke: var(--text-color) !important;
}

.yasqe_endpoint_container {
    display: block;
    width:100%;
}

.yasqe_endpoint_name {
    float: left;
    color: var(--frost-4);
}

.yasqe_endpoint_uri {
    float: right;
    font-style: italic;
}

/* cog button for settings */
.controlbar > button > div > svg > path {
    fill: var(--button-color);
    stroke: var(--button-color);
}

/* triangular button that allows users to start executing the query */
.yasqe_share > div > svg path { fill: var(--button-color); }
.yasqe_queryButton > div.queryIcon > svg path { fill: var(--button-color); }
.yasqe_queryButton:hover > div.queryIcon > svg path { fill: var(--aurora-4); }
.busy:hover > div.queryIcon > svg path { fill: var(--aurora-1); }


.warn {
    color: var(--aurora-3);
    text-align: center;
}

.info {
    color: var(--aurora-4);
    text-align: center;
}

.debug {
    color: var(--frost-4);
    text-align: center;
}

.error {
    color: var(--aurora-1);
    text-align: center;
}

.provenance {
    color: var(--polar-night-1);
}

.CodeMirror-hints > li {
    margin: 0px 0;
}

.suggestion-div > li {
    margin: 2px 0;
}

.suggestion-value {
    text-align: left;
    /* background-color: #88c0d0; */
    /* display: flex; */
    /* flex-direction: row; */
    /* column-gap: 3px; */
    /* overflow-y: hidden; */
    max-height: inherit;
}

.suggestion-id {
    padding: 1%;
}

.suggestion-id.with-label {
    color: darkgray;
}

.suggestion-label {
    padding: 1%;
}

.suggestion-description {
    display: block;
    max-height: 100px;
    overflow: hidden;
    word-wrap: break-word; 
    text-overflow: ellipsis;
}

.suggestion-provenance-detail {
    text-align: left;
    padding-left: 0%;
    margin-left: 0%;
}

.suggestion-provenance {
    text-align: left;
}

.suggestion-score {
    text-align: left;
}

.suggestion-detail {
    text-align: left;
    margin-left: 5px;
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;

    background-color: var(--frost-2);
}

.suggestion-detail .suggestion-provenance-detail {
    /* background-color: var(--frost-4); */

}

.CodeMirror-hints.default {
    max-width: 400px;
}

.CodeMirror-hint {
    white-space:unset;
    /* max-height: 100px; */
    padding-bottom: 2%;
}

.source-marker-section {
    overflow-x: scroll;
    display: flex;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.source-marker {
    --source-marker-size: 6px;
    --source-marker-max-width: 10px;


    height: auto;
    /* min-width: 5px; */
    max-width: var(--source-marker-max-width);
    flex: auto;
    margin-bottom: 5px;

    height: var(--source-marker-size);
    width: var(--source-marker-size);
    border: 1px solid black;
}


.loader-icon {
    position: absolute;
    z-index: 1;
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 0.5s linear infinite;
}

.loader-icon.hidden {
    display: none;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.error-icon {
    position: absolute;
    z-index: 1;
    color: red;
    font-size: 150%;
    animation: fade 0s ease-in 2s forwards;
}

@keyframes fade {
    to { visibility: hidden; }
}
